* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.start {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: black;
    color: whitesmoke;
    width: 100%;
    height: 100vh;
    font-size: xx-large;
}

.scroll-hint {
    position: absolute;
    bottom: 10%;
    font-size: 1rem;
    opacity: 0.6;
    animation: bounce 2s infinite;
}

@keyframes bounce {
     0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.rose {
    position: relative;
    height: 40vh;
    width: 100%;
    background-image: url(images/roses.avif);
    background-size: cover;
    background-position: center 60%;
}

.rose::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}
