* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.start{
    display:flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: whitesmoke;
    width: 100%;
    height: 100vh;
    font-size: xx-large;
}