* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.start{
    display:flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: whitesmoke;
    width: 100%;
    height: 100vh
}