* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

body {
    overflow-x: hidden;
    background: black; /* Add it here instead */
}

.start {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    width: 100%;
    height: 100vh;
    font-size: xx-large;
}

.scroll-hint {
    position: absolute;
    bottom: 10%;
    font-size: 1rem;
    margin-bottom: 50px;
    animation: bounce 2s infinite, hint-fade-out linear forwards;
    animation-timeline: auto, scroll(root);
}

@keyframes bounce {
     0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes hint-fade-out {
    0% {
        opacity: 0.6;
    }
    40% {
        opacity: 0;
    }
}

.rose {
    position: relative;
    height: 40vh;
    width: 100%;
}

.rose::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(images/roses.avif);
    background-size: cover;
    background-position: center 60%;

    transform-origin: center bottom;

    animation-name: fade-out;
    animation-timing-function: linear infinite;
    animation-duration: 1s;
    animation-timeline: view();
    animation-range: entry 90% cover 100%;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

.placeholder {
    height: 100vh;
}

.carousel {
    width: 500px;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;  
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left) {
    content: "→";
    border: none;
    background-color: rgb(176, 51, 95);
    font-size: 3em;
    color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-bottom: .2em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
}

.carousel::scroll-button(left) {
    content: "←";
    position-area: left center;
}

.carousel::scroll-button(left):disabled, .carousel::scroll-button(right):disabled {
    opacity: 0.5;
    cursor: auto;
}

.carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.card::scroll-marker {
    content: '';
    width: 1em;
    height: 1em;
    background-color: rgb(235, 97, 147);
    border-radius: 50%;
}

.card::scroll-marker:target-current {
    background-color: #833753;
}

.card {
    scroll-snap-align: start;
    flex: 0 0 100%;
    background-color: #eb6193;
    height: 18em;
    min-width: 100%;
    padding: 1em;
    text-align: center;
    align-content: center;
    border-radius: 1em;
}